node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
# .env.local
generated-icon.png
Screenshot-2025-03-22 204101.png


# # Firebase configuration file with sensitive keys
# client/src/lib/firebase.ts

# Replit files
.replit
replit.nix
.breakpoints